<div>
  <dl class="row">
    <dt class="col-sm-2">
      Photo
    </dt>
    <dd class="col-sm-10">
      <img src="{{post?.photoUri}}" alt="something went wrong" />
    </dd>
    <dt class="col-sm-2">
      Date Of Post
    </dt>
    <dd class="col-sm-10">
      {{post?.dateOfPost}}
    </dd>
    <dt class="col-sm-2">
      Description
    </dt>
    <dd class="col-sm-10">
      {{post?.description}}
    </dd>
    <dd (click)="updateLikes(post?.id)" id="heart" class="col-sm-10">
      <span class="heart"></span>
      {{post?.likes?.length}} Likes
    </dd>
  </dl>
  <button (click)="updateLikes(post?.id)">Click</button>
</div>
